<div id="total-voucher" class="form-vertical">
    <div class="input-group">
        <input type="text" 
            name="voucher" 
            value="{{ voucher }}" 
            placeholder="{{ entry_voucher }}" 
            id="input-voucher" 
            class="form-control" />
        <span class="input-group-btn">
            <button type="button" id="button-voucher" class="btn btn-icon btn-icon-chevron-right btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </button>
        </span>
    </div>
</div>

<script>
	$('#button-voucher').on('click', function() {
		$.ajax({
			url: 'index.php?route=extension/total/voucher/voucher',
			type: 'post',
			data: 'voucher=' + encodeURIComponent($('input[name=\'voucher\']').val()),
			dataType: 'json',
			beforeSend: function() {
				$('#button-voucher').button('loading');
			},
			complete: function() {
				$('#button-voucher').button('reset');
			},
			success: function(json) {
				$('.alert').remove();

				if (json['error']) {
					$('#content').before(
						'<div class="col-sm-12">' +
							'<div class="alert alert-danger">' +
								'<i class="fa fa-exclamation-circle"></i> ' + json['error'] +
								'<button type="button" class="close" data-dismiss="alert">&times;</button>' +
							'</div>' +
						'</div>'
					);

					$('html, body').animate({ scrollTop: 0 }, 'slow');
				}

				if (json['redirect']) {
					location = json['redirect'];
				}
			}
		});
	});
</script>