/*.*
!.gitignore
!README.md



/install/*



/admin/*
!/admin/

/admin/controller/*
!/admin/controller/

/admin/controller/extension/*
!/admin/controller/extension/

!/admin/controller/extension/blog/

/admin/controller/extension/module/*
!/admin/controller/extension/module/

!/admin/controller/extension/module/blog_category.php
!/admin/controller/extension/module/blog_latest.php
!/admin/controller/extension/module/digitalElephantFilter.php
!/admin/controller/extension/module/oxyo_carousel.php
!/admin/controller/extension/module/oxyo_categories.php
!/admin/controller/extension/module/oxyo_content.php
!/admin/controller/extension/module/oxyo_instagram.php
!/admin/controller/extension/module/oxyo_installer.php
!/admin/controller/extension/module/oxyo_layerslider.php
!/admin/controller/extension/module/oxyo_megamenu.php
!/admin/controller/extension/module/oxyo_products.php

!/admin/controller/extension/oxyo/

/admin/controller/extension/theme/*
!/admin/controller/extension/theme/
!/admin/controller/extension/theme/oxyo.php



/admin/language/*
!/admin/language/

/admin/language/en-gb/*
!/admin/language/en-gb/

!/admin/language/en-gb/blog

/admin/language/en-gb/extension/*
!/admin/language/en-gb/extension/
/admin/language/en-gb/extension/module/*
!/admin/language/en-gb/extension/module/
!/admin/language/en-gb/extension/module/blog_category.php
!/admin/language/en-gb/extension/module/blog_latest.php
!/admin/language/en-gb/extension/module/digitalElephantFilter.php
!/admin/language/en-gb/extension/module/oxyo_carousel.php
!/admin/language/en-gb/extension/module/oxyo_categories.php
!/admin/language/en-gb/extension/module/oxyo_content.php
!/admin/language/en-gb/extension/module/oxyo_instagram.php
!/admin/language/en-gb/extension/module/oxyo_installer.php
!/admin/language/en-gb/extension/module/oxyo_layerslider.php
!/admin/language/en-gb/extension/module/oxyo_megamenu.php
!/admin/language/en-gb/extension/module/oxyo_products.php

/admin/language/en-gb/extension/theme/*
!/admin/language/en-gb/extension/theme/
!/admin/language/en-gb/extension/theme/oxyo.php
!/admin/language/en-gb/oxyo/


/admin/language/ru-ru/*
!/admin/language/ru-ru/

/admin/language/ru-ru/blog

/admin/language/ru-ru/extension/*
!/admin/language/ru-ru/extension/
/admin/language/ru-ru/extension/module/*
!/admin/language/ru-ru/extension/module/
!/admin/language/ru-ru/extension/module/blog_category.php
!/admin/language/ru-ru/extension/module/blog_latest.php
!/admin/language/ru-ru/extension/module/digitalElephantFilter.php
!/admin/language/ru-ru/extension/module/oxyo_carousel.php
!/admin/language/ru-ru/extension/module/oxyo_categories.php
!/admin/language/ru-ru/extension/module/oxyo_content.php
!/admin/language/ru-ru/extension/module/oxyo_instagram.php
!/admin/language/ru-ru/extension/module/oxyo_installer.php
!/admin/language/ru-ru/extension/module/oxyo_layerslider.php
!/admin/language/ru-ru/extension/module/oxyo_megamenu.php
!/admin/language/ru-ru/extension/module/oxyo_products.php

/admin/language/ru-ru/extension/theme/*
!/admin/language/ru-ru/extension/theme/
!/admin/language/ru-ru/extension/theme/oxyo.php
!/admin/language/ru-ru/oxyo/



/admin/model/*
!/admin/model/

/admin/model/extension/*
!/admin/model/extension/

!/admin/model/extension/blog/
!/admin/model/extension/oxyo/



/admin/view/*
!/admin/view/

/admin/view/javascript/*
!/admin/view/javascript/
!/admin/view/javascript/oxyo/
!/admin/view/javascript/oxyo_megamenu/

/admin/view/stylesheet/*
!/admin/view/stylesheet/
!/admin/view/stylesheet/bootstrap.colorpickersliders.min.css

/admin/view/template/*
!/admin/view/template/

/admin/view/template/extension/*
!/admin/view/template/extension/
/admin/view/template/extension/module/*
!/admin/view/template/extension/module/
!/admin/view/template/extension/module/digitalElephantFilter/
!/admin/view/template/extension/module/blog_category.tpl
!/admin/view/template/extension/module/blog_category.twig
!/admin/view/template/extension/module/blog_latest.tpl
!/admin/view/template/extension/module/blog_latest.twig
!/admin/view/template/extension/module/digitalElephantFilter.tpl
!/admin/view/template/extension/module/digitalElephantFilter.twig
!/admin/view/template/extension/module/oxyo_carousel.tpl
!/admin/view/template/extension/module/oxyo_carousel.twig
!/admin/view/template/extension/module/oxyo_categories.tpl
!/admin/view/template/extension/module/oxyo_categories.twig
!/admin/view/template/extension/module/oxyo_content.tpl
!/admin/view/template/extension/module/oxyo_content.twig
!/admin/view/template/extension/module/oxyo_instagram.tpl
!/admin/view/template/extension/module/oxyo_instagram.twig
!/admin/view/template/extension/module/oxyo_installer.tpl
!/admin/view/template/extension/module/oxyo_layerslider.tpl
!/admin/view/template/extension/module/oxyo_layerslider.twig
!/admin/view/template/extension/module/oxyo_megamenu.tpl
!/admin/view/template/extension/module/oxyo_megamenu.twig
!/admin/view/template/extension/module/oxyo_products.tpl
!/admin/view/template/extension/module/oxyo_products.twig

!/admin/view/template/extension/oxyo/

/admin/view/template/extension/theme/*
!/admin/view/template/extension/theme/
!/admin/view/template/extension/theme/oxyo.tpl
!/admin/view/template/extension/theme/oxyo.twig



/catalog/*
!/catalog/

/catalog/controller/*
!/catalog/controller/

/catalog/controller/extension/*
!/catalog/controller/extension/

!/catalog/controller/extension/blog/

/catalog/controller/extension/module/*
!/catalog/controller/extension/module/
!/catalog/controller/extension/module/digitalElephantFilter/
!/catalog/controller/extension/module/blog_category.php
!/catalog/controller/extension/module/blog_latest.php
!/catalog/controller/extension/module/digitalElephantFilter.php
!/catalog/controller/extension/module/oxyo_carousel.php
!/catalog/controller/extension/module/oxyo_categories.php
!/catalog/controller/extension/module/oxyo_content.php
!/catalog/controller/extension/module/oxyo_instagram.php
!/catalog/controller/extension/module/oxyo_layerslider.php
!/catalog/controller/extension/module/oxyo_megamenu.php
!/catalog/controller/extension/module/oxyo_products.php

!/catalog/controller/extension/oxyo/



/catalog/language/*
!/catalog/language/

/catalog/language/en-gb/*
!/catalog/language/en-gb/
/catalog/language/en-gb/extension/*
!/catalog/language/en-gb/extension/
!/catalog/language/en-gb/extension/blog/

/catalog/language/en-gb/extension/module/*
!/catalog/language/en-gb/extension/module/
!/catalog/language/en-gb/extension/module/digitalElephantFilter.php

!/catalog/language/en-gb/oxyo/


/catalog/language/ru-ru/*
!/catalog/language/ru-ru/
/catalog/language/ru-ru/extension/*
!/catalog/language/ru-ru/extension/
!/catalog/language/ru-ru/extension/blog/

/catalog/language/ru-ru/extension/module/*
!/catalog/language/ru-ru/extension/module/
!/catalog/language/ru-ru/extension/module/digitalElephantFilter.php

/catalog/language/ru-ru/oxyo/



/catalog/model/*
!/catalog/model/
/catalog/model/extension/*
!/catalog/model/extension/

!/catalog/model/extension/blog/

/catalog/model/extension/module/*
!/catalog/model/extension/module/
!/catalog/model/extension/module/digitalElephantFilter.php

!/catalog/model/extension/oxyo/


/catalog/view/*
!/catalog/view/

/catalog/view/javascript/*
!/catalog/view/javascript/
!/catalog/view/javascript/digitalElephantFilter/

/catalog/view/javascript/jquery/*
!/catalog/view/javascript/jquery/
/catalog/view/javascript/jquery/ui/*
!/catalog/view/javascript/jquery/ui/
!/catalog/view/javascript/jquery/ui/jquery-ui-slider-rtl.min.js
!/catalog/view/javascript/jquery/ui/jquery-ui-slider.min.js
!/catalog/view/javascript/jquery/ui/jquery-ui.min.css

!/catalog/view/javascript/oxyo_megamenu/


/catalog/view/theme/*
!/catalog/view/theme/
!/catalog/view/theme/oxyo/

/catalog/view/theme/default/template/module/*
!/catalog/view/theme/default/template/module/
!/catalog/view/theme/default/template/module/xd_callback.tpl

/catalog/view/theme/default/template/extension/*
!/catalog/view/theme/default/template/extension/
/catalog/view/theme/default/template/extension/module/*
!/catalog/view/theme/default/template/extension/module/
!/catalog/view/theme/default/template/extension/module/xd_callback.tpl

/image/*
!/image/
/image/catalog/*
!/image/catalog/
!/image/catalog/oxyo-demo/

/system/*
!/system/
!/system/oxyo_template.ocmod.xml