/*.*
!.gitignore
!README.md



/install/*



/admin/*
!/admin/

/admin/controller/*
!/admin/controller/

/admin/controller/catalog/*
!/admin/controller/catalog/
!/admin/controller/catalog/product.php
!/admin/controller/catalog/bulk_copy.php
!/admin/controller/catalog/manager_product.php

/admin/controller/common/*
!/admin/controller/common/
!/admin/controller/common/filemanager.php

/admin/controller/extension/*
!/admin/controller/extension/

!/admin/controller/extension/blog/
!/admin/controller/extension/module/
!/admin/controller/extension/oxyo/

/admin/controller/extension/theme/*
!/admin/controller/extension/theme/
!/admin/controller/extension/theme/oxyo.php



/admin/language/*
!/admin/language/

/admin/language/en-gb/*
!/admin/language/en-gb/

!/admin/language/en-gb/blog

/admin/language/en-gb/catalog/*
!/admin/language/en-gb/catalog/
!/admin/language/en-gb/catalog/product.php
!/admin/language/en-gb/catalog/bulk_copy.php
!/admin/language/en-gb/catalog/manager_product.php

/admin/language/en-gb/extension/*
!/admin/language/en-gb/extension/

!/admin/language/en-gb/extension/module/

/admin/language/en-gb/extension/theme/*
!/admin/language/en-gb/extension/theme/
!/admin/language/en-gb/extension/theme/oxyo.php
!/admin/language/en-gb/oxyo/


/admin/language/ru-ru/*
!/admin/language/ru-ru/

/admin/language/ru-ru/blog

/admin/language/ru-ru/catalog/*
!/admin/language/ru-ru/catalog/
!/admin/language/ru-ru/catalog/product.php
!/admin/language/ru-ru/catalog/bulk_copy.php
!/admin/language/ru-ru/catalog/manager_product.php

/admin/language/ru-ru/extension/*
!/admin/language/ru-ru/extension/

!/admin/language/ru-ru/extension/module/

/admin/language/ru-ru/extension/theme/*
!/admin/language/ru-ru/extension/theme/
!/admin/language/ru-ru/extension/theme/oxyo.php
!/admin/language/ru-ru/oxyo/



/admin/model/*
!/admin/model/

/admin/model/catalog/*
!/admin/model/catalog/
!/admin/model/catalog/product.php
!/admin/model/catalog/bulk_copy.php
!/admin/model/catalog/manager_product.php

/admin/model/tool/*
!/admin/model/tool/
# !/admin/model/tool/image.php

/admin/model/extension/*
!/admin/model/extension/

!/admin/model/extension/blog/
!/admin/model/extension/oxyo/



/admin/view/*
!/admin/view/

/admin/view/javascript/*
!/admin/view/javascript/
!/admin/view/javascript/oxyo/
!/admin/view/javascript/oxyo_megamenu/
!/admin/view/javascript/manager_product/

/admin/view/stylesheet/*
!/admin/view/stylesheet/
!/admin/view/stylesheet/bootstrap.colorpickersliders.min.css
!/admin/view/stylesheet/stylesheet.css
!/admin/view/stylesheet/bulk_copy.css
!/admin/view/stylesheet/manager_product/

/admin/view/template/*
!/admin/view/template/

/admin/view/template/catalog/*
!/admin/view/template/catalog/
!/admin/view/template/catalog/product_form.twig
!/admin/view/template/catalog/product_list.twig
!/admin/view/template/catalog/bulk_copy.twig

!/admin/view/template/catalog/manager_product/

/admin/view/template/common/*
!/admin/view/template/common/
!/admin/view/template/common/filemanager.twig

/admin/view/template/extension/*
!/admin/view/template/extension/
!/admin/view/template/extension/blog/
!/admin/view/template/extension/module/

!/admin/view/template/extension/oxyo/

/admin/view/template/extension/theme/*
!/admin/view/template/extension/theme/
!/admin/view/template/extension/theme/oxyo.tpl
!/admin/view/template/extension/theme/oxyo.twig



/catalog/*
!/catalog/

/catalog/controller/*
!/catalog/controller/

/catalog/controller/product/*
!/catalog/controller/product/
!/catalog/controller/product/product.php

/catalog/controller/extension/*
!/catalog/controller/extension/

!/catalog/controller/extension/blog/
!/catalog/controller/extension/module/
!/catalog/controller/extension/oxyo/



/catalog/language/*
!/catalog/language/

/catalog/language/en-gb/*
!/catalog/language/en-gb/
!/catalog/language/en-gb/blog/
/catalog/language/en-gb/product/*
!/catalog/language/en-gb/product/
!/catalog/language/en-gb/product/product.php
/catalog/language/en-gb/extension/*
!/catalog/language/en-gb/extension/
!/catalog/language/en-gb/extension/blog/

!/catalog/language/en-gb/extension/module/

!/catalog/language/en-gb/oxyo/


/catalog/language/ru-ru/*
!/catalog/language/ru-ru/
!/catalog/language/ru-ru/blog/
/catalog/language/ru-ru/product/*
!/catalog/language/ru-ru/product/
!/catalog/language/ru-ru/product/product.php
/catalog/language/ru-ru/extension/*
!/catalog/language/ru-ru/extension/
!/catalog/language/ru-ru/extension/blog/

!/catalog/language/ru-ru/extension/module/

!/catalog/language/ru-ru/oxyo/



/catalog/model/*
!/catalog/model/

/catalog/model/catalog/*
!/catalog/model/catalog/
!/catalog/model/catalog/product.php

/catalog/model/extension/*
!/catalog/model/extension/

!/catalog/model/extension/blog/

/catalog/model/extension/module/*
!/catalog/model/extension/module/
!/catalog/model/extension/module/digitalElephantFilter.php
!/catalog/model/extension/module/hpmodel.php

!/catalog/model/extension/oxyo/


/catalog/view/*
!/catalog/view/

/catalog/view/javascript/*
!/catalog/view/javascript/
!/catalog/view/javascript/digitalElephantFilter/

!/catalog/view/javascript/bootstrap/

/catalog/view/javascript/jquery/*
!/catalog/view/javascript/jquery/
/catalog/view/javascript/jquery/ui/*
!/catalog/view/javascript/jquery/ui/
!/catalog/view/javascript/jquery/ui/jquery-ui-slider-rtl.min.js
!/catalog/view/javascript/jquery/ui/jquery-ui-slider.min.js
!/catalog/view/javascript/jquery/ui/jquery-ui.min.css

!/catalog/view/javascript/hpmodel/

!/catalog/view/javascript/oxyo_megamenu/


/catalog/view/theme/*
!/catalog/view/theme/
!/catalog/view/theme/oxyo/


/catalog/view/theme/default/*
!/catalog/view/theme/default/
/catalog/view/theme/default/template/*
!/catalog/view/theme/default/template/

/catalog/view/theme/default/template/module/*
!/catalog/view/theme/default/template/module/
!/catalog/view/theme/default/template/module/xd_callback.tpl

/catalog/view/theme/default/template/extension/*
!/catalog/view/theme/default/template/extension/
!/catalog/view/theme/default/template/extension/module/
!/catalog/view/theme/default/template/extension/module/*

/image/*
!/image/
!/image/no_video.png
/image/catalog/*
!/image/catalog/
!/image/catalog/oxyo-demo/

/system/*
!/system/
!/system/oxyo_template.ocmod.xml
!/system/oxyo_theme_3X.ocmod.xml
!/system/oxyo_video_support.ocmod.xml
!/system/hyper_multi_product_models.ocmod.xml

/system/library/*
!/system/library/
/system/library/cart/*
!/system/library/cart/
!/system/library/cart/weight.php

# XD Checkout module
!/system/library/xd_checkout/
!/system/xd_checkout.ocmod.xml
!/catalog/controller/extension/xd_checkout/
!/catalog/language/en-gb/extension/xd_checkout/
!/catalog/language/ru-ru/extension/xd_checkout/
!/catalog/view/javascript/jquery/xd_checkout/
/catalog/view/theme/default/*
!/catalog/view/theme/default/
/catalog/view/theme/default/stylesheet/*
!/catalog/view/theme/default/stylesheet/
!/catalog/view/theme/default/stylesheet/xd_checkout/
/catalog/view/theme/default/template/*
!/catalog/view/theme/default/template/
/catalog/view/theme/default/template/extension/*
!/catalog/view/theme/default/template/extension/
!/catalog/view/theme/default/template/extension/xd_checkout/

/storage/*