{% if modules %}
	<div id="column-left" class="column col-12 col-lg-3">
		<div class="inner row">
            {% set class='col-12' %}
            
            {% if modules|length > 1 %}
                {% set class = 'col-6 col-lg-12' %}
            {% endif %}

			{% for module in modules %}
                <div class="{{ class }}">
                    {{ module }}
                </div>
			{% endfor %}
		</div>
	</div>
{% endif %}
