<div class="widget-border-wrap">
    <div class="about-widget">
        <div class="row align-items-center">
            <div class="col-12 col-xxl-6 mb-4 mb-xxl-0">
                <img src="/image/catalog/Hair/main_logo_transparent_bg.png.png" alt="HAIR PRO логотип" class="img-fluid"
                    style="width:500px; height:auto;" />
            </div>
            <div class="col-12 col-xxl-6">
                <h2 class="spread">ВОЛОСЫ - НАША ФИЛОСОФИЯ КРАСОТЫ!</h2>
                <p class="mb-1 text-color-secondary text-family-accent">
                    В <strong>HAIR.<span class="text-color-accent">Pro</span></strong> мы уверены: красивые волосы — это
                    не просто часть внешности, а отражение
                    уверенности, стиля и характера.
                </p>
                <p class="mb-3 text-color-secondary text-family-accent">
                    Мы подходим к своему делу как к искусству: тщательно отбираем материалы, работаем с лучшими
                    поставщиками и предлагаем продукцию, которая помогает женщинам раскрыть свою природную красоту.
                </p>
                <p class="mb-1 text-color-secondary text-family-accent">
                    Каждая прядь, каждый парик, каждый оттенок — результат кропотливой работы, современных технологий и
                    глубокого понимания индустрии.
                </p>
                <p class="mb-1 text-color-secondary text-family-accent">
                    Мы создаём решения для мастеров, студий и салонов, для тех, кто ценит безупречное качество и
                    профессиональный подход.
                </p>
                <p class="mb-3 text-color-secondary text-family-accent">
                    Наша главная награда — это благодарные отзывы и сияющие взгляды женщин, которым мы помогли
                    почувствовать себя ещё красивее.
                </p>
                <p class="mb-4 text-color-secondary text-family-accent">
                    <strong>HAIR.<span class="text-color-accent">Pro</span></strong> — волосы, в которых можно быть
                    собой.
                </p>
            </div>
        </div>
    </div>
</div>